.spinner {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #fefefa;
}

.spinning {
    animation: spinner 1s linear infinite;
    
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}